<!--Carousel Wrapper-->
<div id="impression-gallery" class="carousel slide carousel-multi-item carousel-multi-item-2"
     data-ride="carousel" data-interval="false" data-keyboard="false">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        {% for page in include.options.gallery %}

        <!-- slide {{ forloop.index }}-->
        {% if forloop.index == 1 %}
        <div class="carousel-item active text-center">
        {% else %}
        <div class="carousel-item text-center">
        {% endif %}
                {% assign outer_index = forloop.index %}
                {% for item in page.slides %}
                <div class="col-md-3 mb-3">
                        <a class="gallery-link" data-toggle="modal"
                           href="#p{{ outer_index }}_{{ forloop.index }}">
                            <img class="img-fluid"
                                 src="{{ item }}"
                                 width="{{ site.data.image.carousel.width }}px"
                                 height="{{ site.data.image.carousel.height }}px">
                        </a>
                        <div class="gallery-modal modal fade" id="p{{ outer_index }}_{{ forloop.index }}"
                             tabindex="-1" role="dialog"
                             style="display: none;" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="close-modal" data-dismiss="modal">
                                        <div class="lr">
                                            <div class="rl"></div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-8 mx-auto">
                                                <div class="modal-body">
                                                    <img class="img-fluid d-block mx-auto lazy_load"
                                                         data-src="{{ item }}"
                                                         width="{{ site.data.image.modal.width }}px"
                                                         height="{{ site.data.image.modal.height }}px"
                                                         src=""
                                                         alt="">
                                                    <footer>
                                                        <small>
                                                            {{ site.copyright
                                                            | prepend: '&copy;'
                                                            | markdownify | remove: '<p>' | remove: '</p>' }}
                                                        </small>
                                                    </footer>
                                                    <button class="btn btn-secondary" data-dismiss="modal"
                                                            type="button">
                                                        <i class="fas fa-times"></i>
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                {% endfor %}
            </div>
            <!--/.{{ forloop.index }} slide-->
            {% endfor %}
        </div>
        <!--/.Slides-->
        <!--Controls-->
        {% if include.options.gallery.size > 1 %}
        <div class="controls-top text-center">
            <a class="black-text" href="#impression-gallery" data-slide="prev" role="button">
                <i class="fas fa-angle-left fa-3x pr-3"></i>
            </a>
            <a class="black-text" href="#impression-gallery" data-slide="next" role="button">
                <i class="fas fa-angle-right fa-3x pl-3"></i>
            </a>
        </div>
        {% endif %}
        <!--/.Controls-->

    </div>
</div>
<!--/.Carousel Wrapper-->
