<!-- Next Event -->
<section class="page-section" id="next">
  <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ page[site.locale].next.title}}</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="large text-muted">{{ content | raw }}</div>
            </div>
        </div>
    </div>
</section>
<!-- End Next Event -->