<!-- Footer -->
<footer class="footer" id="footer" style="background-color: white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
      </div>
      <!-- Social Media -->
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for site in site.data.social %}
          <!-- {{ site[0] }} -->
          <li class="list-inline-item">
            {% if site[1].url %}
            <a href="{{ site[1].url }}" target="_blank" aria-label="Social Link {{ site[0] }}">
              {% if site[1].icon %}<i class="{{ site[1].icon }}"></i>{% endif %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- Quicklinks -->
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
        {% for link in site.data.footer.quicklinks %}
          <!-- {t % link.name %} -->
          <li class="list-inline-item">
            <a href="{% tl link.url %}"
              >{% t link.name %}</a
            >
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}

<!-- additional scripts -->
{% for script in page.foot.scripts %}
<script type="text/javascript" src="{{ script.url }}" async></script>
{% endfor %}

<!-- End Footer -->
