<!-- Gallery -->
<section class="{{ include.css_class }} page-section" id="{{ page.gallery.section | default: 'gallery' }}">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">
                    {% if page.gallery.title %}
                    {% t page.gallery.title %}
                    {% else %}
                    Gallery
                    {% endif %}
                </h2>
                {% if page.gallery.text %}
                <h3 class="section-subheading text-muted">{% t page.gallery.text %}</h3>
                {% endif %}
            </div>
        </div>

        <div class="row text-center">
            {% for entry in page.gallery.list %}
            <div class="col-md-4 gallery-item">
                {% if entry.title %}
                <h4 class="entry-heading">{% t entry.title %}</h4>
                {% endif %}
                {% if entry.image.hover %}
                <a class="gallery-link" data-toggle="modal" href="#p{{ forloop.index }}">
                    <div class="gallery-hover">
                        <div class="gallery-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{ site.baseurl_root }}{{ entry.image.url }}"/>
                </a>
                <div class="gallery-modal modal fade"
                     id="p{{ forloop.index }}"
                     tabindex="-1"
                     role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="close-modal" data-dismiss="modal">
                                <div class="lr">
                                    <div class="rl"></div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 mx-auto">
                                        <div class="modal-body">
                                            <!-- Modal body -->
                                            {% capture image_src %}{% t entry.image.hover.big %}{% endcapture %}
                                            <h2 class="text-uppercase">{% t entry.image.hover.title %}</h2>
                                            <p class="item-intro text-muted">{% t entry.desc %}</p>
                                            <img class="img-fluid d-block mx-auto lazy_load"
                                                 data-src="{{ image_src }}"
                                                 alt="{{ entry.desc }}"/>
                                            <footer>
                                                <small>
                                                    {{ entry.image.copyright | default: site.copyright
                                                    | prepend: '&copy;'
                                                    | markdownify | remove: '<p>' | remove: '</p>' }}
                                                </small>
                                            </footer>
                                            <a class="btn btn-primary"
                                               role="button"
                                               href="{{ image_src | uri_escape }}"
                                               download="{{ image_src | split: '/' | last }}">
                                                <i class="fas fa-download"></i>
                                                Download
                                            </a>
                                            <button class="btn btn-secondary"
                                                    data-dismiss="modal"
                                                    type="button">
                                                <i class="fas fa-times"></i>
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <img class="img-fluid" src="{{ entry.image.url }}" alt="{{ entry.desc }}"/>
                {% endif %}
                <footer>
                    <small>
                        {{ entry.image.copyright | default: site.copyright | prepend: '&copy; '
                        | markdownify | remove: '<p>' | remove: '</p>' }}
                    </small>
                </footer>
                {% if entry.desc %}
                <div class="text-muted">{% t entry.desc %}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </div>
</section>
<!-- End Gallery -->