<head>
    <meta charset="utf-8">
    <meta name="revision" content="{{ site.github.build_revision }}">
    <meta name="date.created" content="{{ site.time }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% t slogan %}">
    <meta name="author" content="{{ site.author }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:description" content="{% t slogan %}" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="website" />

    {% capture title %}{% t page.title %}{% endcapture %}
    {% capture page_title %}{% if title %}{{ title | append: " | " | append: site.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}

    <title>{{ page_title }}</title>
    <meta property="og:title" content="{{ page_title }}" />

    <meta name="twitter:card" content="summary" />
    <meta property="twitter:domain" content="{{ site.url }}" />
    <meta name="twitter:site" content="@{{ site.data.social.twitter.handle }}" />
    <meta property="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="twitter:title" content="{{ page_title }}" />

    <meta name="twitter:image" content="{{ site.url }}{{ site.data.social.twitter.image }}" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">

    <!-- preload styles -->
    {% for style in site.data.style.sheets %}
    <link rel="preload" type="text/css" href="{{ site.baseurl_root }}/assets/css/{{ style.name }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    {% endfor %}
    <noscript>
        {% for style in site.data.style.sheets %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl_root }}/assets/css/{{ style.name }}"/>
        {% endfor %}
    </noscript>

    <!-- preload background image -->
    <link rel="preload" as="image" fetchpriority="high" href="{{ site.data.style.header-image }}" type="image/webp">

    <!-- additional styles -->
    {% for style in page.head.styles %}
    <link rel="stylesheet" type="text/css" href="{{ style.url }}">
    {% endfor %}

    {% if page.event %}
    <!-- Event infos https://developers.google.com/search/docs/appearance/structured-data/event#standard-event -->
    <!--
    {{ page.published_at }}
    -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "{% t page.event.name %}",
      "startDate": "{{ page.event.date.start }}",
      "endDate": "{{ page.event.date.end }}",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@type": "Place",
        "name": "{% t page.event.location.name %}",
        "url": "{{ page.event.location.url }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ page.event.location.address.street }}",
          "addressLocality": "{{ page.event.location.address.locality }}",
          "postalCode": "{{ page.event.location.address.code }}",
          "addressCountry": "{{ page.event.location.address.country }}"
        }
      },
      "image": [
          "{{ page.event.images | join: '", "' }}"
       ],
      "description": "{% t page.event.description %}",
      "offers": {
        "@type": "Offer",
        "url": "{{ page.event.offer.url }}",
        "price": "{{ page.event.offer.price }}",
        "priceCurrency": "EUR",
        "availability": "https://schema.org/InStock",
        "validFrom": "{{ page.event.offer.from | date: '%Y-%m-%dT%H:%M' }}",
        "validThrough": "{{ page.event.date.end | date: '%Y-%m-%dT%H:%M' }}"
      },
      "organizer": {
        "@type": "Organization",
        "name": "{{ site.author }}",
        "url": "{{ site.url }}"
      },
      "performer": {
        "@type": "Organization",
        "name": "{{ site.author }}",
        "url": "{{ site.url }}"
      }
    }
    </script>
    {% endif %}
</head>
