<!-- Iframe -->
<section id="{{ include.options.section | default: 'iframe' }}" class="section {{ include.options.css_class }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{% t include.options.title %}</h2>
            </div>
            <div class="col-lg-12 text-center">
                <iframe src="{{ include.options.iframe.url }}" width="800" height="600">Loading...</iframe>
                {% capture info_text %}{% t include.options.iframe.info %}{% endcapture %}
                <p class="text-muted">{{ info_text | markdownify }}</p>
            </div>
        </div>
    </div>
</section>
<!-- End Tickets -->
