<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/#">
            {%- if site.logo -%}
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
            {%- else -%}
            {{ site.title }}
            {%- endif -%}
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                {% for link in site.data.navigation.nav %}
                {%- if link.submenu -%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if link.title == page.nav_highlight %}current{% endif %}" href="#" id="navbarDropdown_{{ forloop.index }}" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% t link.title %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_{{ forloop.index }}">
                            {% for submenu in link.submenu %}
                            {% capture link_url %}{% tl submenu.url %}{% endcapture %}
                            {% capture link_url %}{{ link_url | default: submenu.url }}{% endcapture %}
                            <a class="nav-link" href="{{ link_url | default: submenu.url }}" {% if link_url contains '://'%}target="_blank"{% endif %}>
                                <i class="arrow fas fa-chevron-right"></i>
                                <span>{% t submenu.title %}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </li>
                {%- else -%}
                    <li class="nav-item">
                        {%- if link.url -%}
                        {% capture link_url %}{% tl link.url %}{% endcapture %}
                        <a class="nav-link js-scroll-trigger {% if link.title == page.nav_highlight %}current{% endif %}" href="{{ link_url | default: link.url }}">{% t link.title %}</a>
                        {%- else -%}
                        <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
                        {%- endif -%}
                    </li>
                {%- endif -%}
                {% endfor %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{% t language_selector %}">
                            <i class="fa fa-language" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageDropdown">
                      <!-- language menu -->
                      {% for lang in site.languages %}
                        {% unless site.lang == lang %}

                          {% capture page_url %}{% tl {{page.namespace}} {{lang}} %}{% endcapture %}
                          {% assign lang_link = site.baseurl_root | append: page_url  %}
                          <a class="nav-link" href="{{ lang_link }}" >
                                <span class="fi fi-{{ site.data.navigation.languages[lang].code }}"></span>
                                {{ site.data.navigation.languages[lang].text }}
                          </a>

                          {% assign next = forloop.index | plus: 1 %}

                          {% if forloop.last != true and site.languages[forloop.index] != site.lang or site.languages[forloop.index] == site.lang and next < forloop.length %}
                            <span class="separator"> &bull; </span>
                          {% endif %}

                        {% endunless %}
                      {% endfor %}
                      <!-- End language menu -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation -->

<!-- Header -->
{%- if page.header -%}
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            {%- if page.header.title -%}
            <h2 class="intro-lead-in">{% t page.header.title %}</h2>
            {%- endif -%}
            {%- if page.header.text -%}
            <h1 class="intro-heading text-uppercase">{% t page.header.text %}</h1>
            {%- endif -%}
            {%- if page.header.button -%}
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
               href="{{ page.header.buttonlink }}"
               target="_blank">
                {% t page.header.button %}
            </a>
            {%- endif -%}
        </div>
    </div>
</header>
{%- else -%}
<header class="masthead" style="height: 100px">
</header>
{%- endif -%}
<!-- End Header -->