<!-- Tickets -->
<section id="{{ include.options.section | default: 'pretix' }}" class="section {{ include.options.css_class }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <pretix-widget event="{{ include.options.pretix.url }}"></pretix-widget>
                {% capture problem_text %}{% t include.options.pretix.problems %}{% endcapture %}
                <p class="text-muted">{{ problem_text | markdownify }}</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End Tickets -->
