// Custom Images

header.masthead {
  &.default-image {
    background-image: url("#{$header-image}");
  }
  &.accceu-image {
    background-image: url("#{$accceu-image}");
  }
  &.fast-image {
    background-image: url("#{$fast-image}");
  }
}