---
# copy of agency.scss
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.highlight | default: "#fed136" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

$contact-image: "{{ site.data.style.contact-image }}";

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$accceu-image: "{{ site.data.style.accceu-image }}";
$fast-image: "{{ site.data.style.fast-image }}";
$nvc-image: "{{ site.data.style.nvc-image }}";

@import "header_images.scss";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
@import "layout/gallery-hover.scss";

// Submenu
@import "layout/submenu.scss";