---
# bumbleflies theme
---
@charset "utf-8";

// 1. Liquid variables from site data
$bumble-yellow: {{ site.data.style.bumble_yellow | default: "#f1c232" }};
$bumble-grey-dark: {{ site.data.style.bumble_grey_dark | default: "#5e5e5e" }};
$bumble-grey-light: {{ site.data.style.bumble_grey_light | default: "#999999" }};
$primary: {{ site.data.style.highlight | default: "#f1c232" }};
$white: {{ site.data.style.white | default: "#ffffff" }};
$black: {{ site.data.style.black | default: "#242424" }};

$contact-image: "{{ site.data.style.contact-image }}";
$header-image: "{{ site.data.style.header-image }}";
$accceu-image: "{{ site.data.style.accceu-image }}";
$fast-image: "{{ site.data.style.fast-image }}";
$nvc-image: "{{ site.data.style.nvc-image }}";

// 2. Core variables and mixins
@import "base/variables";
@import "base/mixins";

// 3. Global CSS
@import "base/page";

// 4. Components
@import "components/buttons";
@import "components/navbar";

// 5. Layout
@import "header_images";
@import "layout/masthead";
@import "layout/services";
@import "layout/gallery";
@import "layout/team";
@import "layout/contact";
@import "layout/footer";
@import "layout/submenu";
