.navbar-brand {
    color: #fff !important;
}

a.navbar-brand:first-letter {
    color: #fbc02d;
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 33%;
        max-width: 100%;
    }
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}
