// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 0; // Square buttons for a more modern look
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.btn-xl {
  font-size: 1.25rem;
  padding: 1.5rem 3rem;
}

.btn-primary {
  background-color: $primary;
  border: 2px solid $black;
  color: $black;
  box-shadow: 4px 4px 0px $black;

  &:active,
  &:focus,
  &:hover {
    background-color: $white !important;
    color: $black !important;
    border-color: $black !important;
    box-shadow: 0px 0px 0px $black;
    transform: translate(4px, 4px);
  }
}

.btn-secondary {
  background-color: $white;
  border: 2px solid $black;
  color: $black;
  box-shadow: 4px 4px 0px $black;

  &:active,
  &:focus,
  &:hover {
    background-color: $primary !important;
    color: $black !important;
    border-color: $black !important;
    box-shadow: 0px 0px 0px $black;
    transform: translate(4px, 4px);
  }
}
