// Styling for the navbar
#mainNav {
  background-color: $black;
  transition: all 0.3s ease;

  .navbar-toggler {
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
    color: $black;
    border: 2px solid $black;
    background-color: $primary;
    @include heading-font;
    border-radius: 0;
  }

  .navbar-brand {
    @include heading-font;
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: -0.05em;
    font-size: 2rem;

    .logo-b { color: $bumble-yellow; }
    .logo-umble { color: $bumble-grey-dark; }
    .logo-flies { color: $bumble-grey-light; }

    &:active,
    &:focus,
    &:hover {
      opacity: 0.8;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 1rem;
        font-weight: 600;
        padding: 0.75em 1em;
        color: $white;
        @include heading-font;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        &:hover, &.current {
          color: $primary !important;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent;

    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 0.5em 1.5em !important;
        }
      }
    }

    &.navbar-shrink {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: rgba($black, 0.95);
      backdrop-filter: blur(10px);

      .navbar-brand {
        font-size: 1.5rem;
      }
    }
  }
}
