<!DOCTYPE html>
<html lang="{{ lang }}">

  {% include head.html %}

  <body id="page-top">

      {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="{{ site.baseurl_root }}/assets/js/jquery.min.js"></script>
	  <script src="{{ site.baseurl_root }}/assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="{{ site.baseurl_root }}/assets/js/jquery.easing.min.js" async></script>

	  <!-- Contact form JavaScript -->
	  <script src="{{ site.baseurl_root }}/assets/js/jqBootstrapValidation.js" async></script>

	  <!-- Custom scripts for this template -->
	  <script src="{{ site.baseurl_root }}/assets/js/agency.min.js" async></script>

  </body>
</html>