.gallery-item {
    right: 0;
    margin: 0 0 30px;
    padding: 20px;
    background: $white;
    border: 2px solid $black;
    box-shadow: 8px 8px 0px $black;
    transition: all 0.3s ease;

    &:hover {
      transform: translate(-4px, -4px);
      box-shadow: 12px 12px 0px $primary;
    }

    .entry-heading {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-transform: none;
    }

    .text-muted {
      font-size: 1rem;
      line-height: 1.6;
    }

    .gallery-link {
      position: relative;
      display: block;
      max-width: 100%;
      margin: 0 auto;
      cursor: pointer;
      overflow: hidden;

      .gallery-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all ease 0.5s;
        opacity: 0;
        background: rgba($primary, 0.9);
        &:hover {
          opacity: 1;
        }
        .gallery-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: $black;
        }
      }
    }
}

.gallery-modal {
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 100px 0;
    text-align: center;
    border: 4px solid $black;
    border-radius: 0;

    h2 {
      font-size: 3.5rem;
      margin-bottom: 25px;
      @include heading-font;
    }
    p {
      margin-bottom: 30px;
      font-size: 1.25rem;
    }
    p.item-intro {
      font-size: 1.5rem;
      font-style: normal;
      margin: 20px 0 30px;
      @include heading-font;
      color: $primary;
    }
  }
}
