// Styling for the masthead
header.masthead {
  text-align: center;
  color: var(--color-text-on-dark);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;

  // Add subtle overlay for better text readability
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;

    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      color: var(--color-text-on-dark);
      text-shadow: var(--shadow-sm);
      @include serif-font;
    }

    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      color: var(--color-text-on-dark);
      text-shadow: var(--shadow-md);
      @include heading-font;
    }
  }
}

@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;

      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        color: var(--color-text-on-dark);
        @include serif-font;
      }

      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        color: var(--color-text-on-dark);
        @include heading-font;
      }
    }
  }
}
