// Styling for the masthead
header.masthead {
  text-align: center;
  color: $white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  border-bottom: 4px solid $black;

  .intro-text {
    padding-top: 180px;
    padding-bottom: 120px;

    .intro-lead-in {
      font-size: 1.5rem;
      font-style: normal;
      line-height: 1.5rem;
      margin-bottom: 25px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      @include body-font;
      font-weight: 700;
      color: $bumble-grey-dark;
    }

    .intro-heading {
      font-size: 3.5rem;
      font-weight: 900;
      line-height: 1.1;
      margin-bottom: 40px;
      @include heading-font;
      text-transform: none; // Fraunces looks better in mixed case
      color: $black;
    }
  }
}

@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 240px;
      padding-bottom: 160px;

      .intro-lead-in {
        font-size: 2rem;
        margin-bottom: 30px;
      }

      .intro-heading {
        font-size: 5rem;
        margin-bottom: 60px;
      }
    }
  }
}
