#mainNav {
    .navbar-nav {
      .nav-item {
        .dropdown-menu {
            background-color: #212529;
        }
        .dropdown-item {
            color: #ffffff
        }
        &.show.dropdown {
            background-color: #212529;
        }
      }
    }
}
