// Bumbleflies Color Palette
$bumble-yellow: #f1c232 !default;
$bumble-grey-dark: #5e5e5e !default;
$bumble-grey-light: #999999 !default;

// Theme overrides
$primary: $bumble-yellow !default;
$black: #242424 !default;
$white: #ffffff !default;

// Bootstrap grey scale fallbacks
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
