// Global styling for this template
body {
  overflow-x: hidden;
  background-color: var(--color-background);
  color: var(--color-text);
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: var(--color-text-link);
  &:hover {
    color: var(--color-text-link-hover);
  }
}

.text-primary {
  color: var(--color-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--color-text);
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    color: var(--color-text-secondary);
    @include serif-font;
  }
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: var(--color-primary);
  color: var(--color-text-on-primary);
  text-shadow: none;
}

::selection {
  background: var(--color-primary);
  color: var(--color-text-on-primary);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
