# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Build & Deploy

on:
  # Runs on pushes targeting the default branch
  push:
    branches:
      - "*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: "live"
  cancel-in-progress: true

jobs:
  build-test:
    uses: ./.github/workflows/part_build_test.yml
  deploy-stage:
    needs: build-test
    secrets: inherit
    uses: ./.github/workflows/part_deploy_stage.yml
  deploy-live:
    needs: build-test
    if: github.ref == 'refs/heads/master'
    secrets: inherit
    uses: ./.github/workflows/part_deploy_live.yml